.main {
  display: flex;
  margin-left: 4em;
}

.ul {
  display: flex;
  flex-direction: column;
}

.li {
  background: var(--colorAccent);
  color: var(--colorBG);
  padding: 0.8em 2em;
  border-radius: 6px;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 26em;
  justify-content: space-between;
  margin: 1em 0;
}

.ico {
  height: 1em;
}


/*up*/

.form {
  margin: 2em 6em;
}

.dropzoneWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 20em;
  height: 12em;
  border: 2px dashed #c1c1c1;
  outline: none;
  justify-content: center;
}

.dropzoneP {
  font-size: 0.8em;
}

.uploadSvg {
  width: 2.5em;
  height: auto;
}
.uploadSvg path {
  fill: #8f8f8f;
}

.addedFile {
  width: 18em;
  color: var(--colorBG);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0.5em 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--colorAccent);
}
